<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>答案之书</title>
	<script type="text/javascript" src="./lib/vue.js"></script>
	<script src="./lib/vue-resource.min.js"></script>
</head>
<body>
	<div id="app-5">
	  <input type="text" v-model="message" v-on:keyup.enter="submit"/>
	  <span>{{message}}</span>
	  <button v-on:click="reverseMessage">逆转消息</button>
	  <ul>
	  	<li v-for="item in items">
	  		{{ item.answer }}
	  	</li>
	  </ul>
	</div>
</body>
	<script type="text/javascript">
		var app5 = new Vue({
		  el: '#app-5',
		  data: {
		    message: 'Hello Vue.js!',
		    items : []
		  },
		  timer:null,
		  methods: {
		    reverseMessage: function () {
		    	this.$http.get('/api/answer').then(response => {

				    // get body data
				    this.message = "";

					}, response => {
				    // error callback
				});
		    // 	clearInterval(this.timer);
		    // 	this.$http.get('/api/answer?message='+this.message).then(response => {

				  //   // get body data
				  //   this.message = "";

				  // }, response => {
				  //   // error callback
				  // });
		    // 	// setInterval(function(){
		    // 		this.$http.get('/api/show').then(response => {
		    // 			console.log(response);
				  //   // get body data
				  //   this.items = response.body;

				  // }, response => {
				  //   // error callback
				  // });
		    // 	// }, 1000);
		    	
		    //   //this.message = this.message.split('').reverse().join('')
		    },
		    submit:function(){
		    	this.reverseMessage();
		    }
		  }
		})
	</script>
</html>